<%- include("partials/header.ejs") %>

<!--<img src="/images/cookieBanner.jpg" alt="Cookie Banner" class="banner-image">-->
<div class="banner">
  <img src="/images/cookieBannerLeft.jpg" alt="Left Image" class="banner-left">
  <img src="/images/cookieBannerMiddle.jpg" alt="Middle Image" class="banner-middle">
  <img src="/images/cookieBannerRight.jpg" alt="Right Image" class="banner-right">
  <h1 class = "banner-title">Cookie Book 🍪</h1>
</div>

<div class="posts">
        <% posts.forEach((post, index) => { %>
            <div class="post">
                <h2><%= post.title %></h2>
                <p><%= post.description %></p>
                <div class="postButtonsContainer">
                  <a href="/edit/<%= index %>">
                    <button id="editPost">Edit</button>
                  </a>
                  <form action="/delete/<%= index %>" method="POST">
                    <button id="deletePost" type="submit"><strong>X</strong></button>
                  </form>
                </div>
            </div>
        <% }) %>
    </div>

<%- include("partials/footer.ejs") %>